.navbar {
  margin-bottom: 0;
  background-color: rgb(193, 9, 0);
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.rt-validation {
  color: rgb(193, 9, 0);
  margin-top: -20px;
  margin-bottom: 10px;
}

.jumbotron {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#mainbutton {
  margin-top: 0;
  min-height: 38px;
}

#createerrortext, #editerrortext {
  margin-top: 20px;
}

#buttonlower {
  margin-bottom: 20px;
}

.spacer-right {
  margin-right: 20px;
}

@media (min-width: 992px) {
  .formcontainer {
    width: 50%;
  }
}

.comment {
  border: 1px solid rgba(0,0,0,0.15);
  margin-top: 20px;
  background-color: white;
  color: #868e96;
  padding: 10px;
}

.rt-btn {
  background-color: rgb(193, 9, 0) !important;
  border-color: rgb(193, 9, 0) !important;
  margin-top: 10px;
}

.stretch {
  width: 100%;
}

.rt-btn-margin {
  margin-top: 10px;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  width: 100%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
  cursor: pointer;
  color: #333;
}

.cardtext {
  margin-bottom: 5px;
}

.rt-text {
  width: 100%;
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
}

.rt-results {
  width: 100%;
}

.rt-errortext {
  width: 100%;
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
}

.text-white {
  text-decoration: none;
  color: white !important;
}

#rt-via1, #rt-via2, #rt-via3, #rt-via4 {
  display: none;
}

.hello {
  margin-right: 5px;
}

.textmargin {
  margin-right: 20px;
}

.card > img {
  margin-bottom: .75rem;
  width: 100%;
  margin-top: 5px;
  text-align: left;
}

.no-hover:hover {
  text-decoration: none !important;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
