body {
  font-family: 'Arimo', sans-serif;
}

.navbar {
  margin-bottom: 0;
  background-color: rgb(193, 9, 0);
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.rt-validaton {
  color: rgb(193, 9, 0);
}

.rt-btn {
  background-color: rgb(193, 9, 0) !important;
  border-color: rgb(193, 9, 0) !important;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 100%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
  font-size: bold;
}

.cardtext {
  margin-bottom: 5px;
}

.rt-results {
  width: 100%;
}

.card > img {
  margin-bottom: .75rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
